body {
  padding: 30px;
  font-size: 18px;
  color: SteelBlue;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.wrapper {
  border-color: steelblue;
  padding: 15px;
  border-style: solid;
  border-width: 0.3em;
}
.summary p {
  padding: 10px 10px 40px 10px;
}

section h2 {
  color: white;
  background-color: steelblue;
  box-shadow: 0px 3px lightgray;
  padding: 8px 4px;
  font-size: 1.2em;
}

[role="banner"] {
  text-align: center;
}
ul {
  padding: 10px 10px 40px 40px;
}

.contact {
  color: white;
  background-color: steelblue;
  box-shadow: 0px 3px lightgray;
  padding: 18px 10px;
  border-color: steelblue;
  border-style: solid;
  border-width: 0.3em;
  text-align: center;
}

[role="contentinfo"] {
  text-align: center;
}
